<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post" enctype="multipart/form-data" action="/load">
    <div>
      <label for="file">Выберите файл</label>
      <input type="file" id="file" name="file" multiple>

      <label for="sem11">Начало для 1 семестра</label>
      <input type="number" id="sem11" name="sem11" multiple>
      <label for="sem12">Конец для 1 семестра</label>
      <input type="number" id="sem12" name="sem12" multiple>
      <label for="sem21">Начало для 2 семестра</label>
      <input type="number" id="sem21" name="sem21" multiple>
      <label for="sem22">Конец для 2 семестра</label>
      <input type="number" id="sem22" name="sem22" multiple>
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form>
</body>
</html>