<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <form class="form-inline" action="/updateOneTeacher" method="post">
        <div class="input-group">
            <span class="input-group-text">Ім'я та прізвищеe</span>
            <input type="text" th:value="${teacher.getName()}" class="form-control" name="name">
        </div>
        <div class="input-group">
            <span class="input-group-text">Email</span>
            <input type="text" th:value="${teacher.getEmail()}" class="form-control" name="email">
        </div>
        <div class="input-group">
            <span class="input-group-text">Посада</span>
            <input type="text" th:value="${teacher.getJobtitle()}" class="form-control" name="title">
        </div>
        <div class="input-group">
            <span class="input-group-text">Доля ставки</span>
            <input type="number" th:value="${teacher.getBid()}" class="form-control" name="bid">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Змінити дані</button>
    </form>
</body>
</html>